<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formular Diagnostic</title>
</head>
<body>

<h1>Diagnostic</h1>

<form th:action="@{/diagnostice/save}" th:object="${diagnostic}" method="post">

    <input type="hidden" th:field="*{id}"/>

    <label>Detalii:</label>
    <textarea th:field="*{detalii}"></textarea><br/>

    <label>Cod Diagnostic:</label>
    <input type="text" th:field="*{codDiagnostic}"/><br/>

    <label>Data:</label>
    <input type="date" th:field="*{data}"/><br/>

    <label>Programare ID:</label>
    <input type="number" th:field="*{programareId}"/><br/>

    <button type="submit">Salvează</button>

</form>

</body>
</html>
