<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pacient - Pagina Principală</title>
</head>
<body>
<h2>Bine ai venit!</h2>
<ul>
    <li><a th:href="@{/clinici}">Vezi Clinici</a></li>
    <li><a th:href="@{/programari}">Programările Mele</a></li>
    <li><a th:href="@{/recenzii}">Recenziile Mele</a></li>
    <li><a th:href="@{/retete}">Rețetele Mele</a></li>
    <li><a th:href="@{/diagnostice}">Diagnosticele Mele</a></li>
    <li><a th:href="@{/doctori}">Doctori</a></li>
</ul>

<a th:href="@{/login}">Logout</a>
</body>
</html>
